@font-face{
    font-family:Brush;
    src:url(../../assets/BRUSHSCI.TTF);

}
@font-face{
    font-family:Mark;
    src:url(../../assets/Marker_Felt_Regular.ttf);
}

.MainView {
    min-height: 101vh;
}

.brush {
    font-family: Brush;
}

.mark {
    font-family: Mark;
}

body{
    background:url(JoinBackground.png) no-repeat center fixed;
    background-size: cover;
}

.btn-primary {
    background-color: rgb(218, 115, 125) !important;
}
.btn-primary:hover {
    background-color: rgb(218, 115, 125) !important;
    background-image: none;
}
