.MainView {
    min-height: 101vh;
}
.background{
    background-image:url(https://cdn.discordapp.com/attachments/557844564589805580/568043195397701642/Project-JoinBG_02.png);
    background-size: cover;
    background-attachment: fixed;
}
