.wrapper {
  position: relative;
  top: 0;
  left: 0;
}

.slide-enter {
  position:absolute;
  left: -200vw;
  opacity: 0.01;
}

.slide-enter-active {
  position:absolute;
  left: 0;
  opacity: 1;
  transition: all 2000ms;
}

.slide-exit {
  position:absolute;
  left: 0;
  opacity: 1;
}

.slide-exit-active {
  position:absolute;
  left: 200vw;
  opacity: 0.01;
  transition: all 2000ms;
}
