.EventCreationButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-primary {
    margin-top: 10px;
    margin-right: 30px;
    border: none;
    background-image: linear-gradient(to bottom, #a93b68 0%, #ff8471 100%)
}
