.headerBox {
   padding-top: 20px;
}


/* Link style */
li 
{
    font-size: 16px;
}

.login-link {
    color: white;
    font-family: Mark;
}

.login-link:hover {
    color: rgb(240, 240, 240);
    text-decoration: none;
}

.login-link:active {
    color: rgb(226, 206, 206);
}

.logo {
    padding-left: 15px;
}

.searchBox {
    background-image: linear-gradient( #a93b68 0%, #ff8471 100%)
}

.loginButton {
    padding-right: 15px;
}