.headerBox {
   padding-top: 20px;
}

/* Text style */
ul 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Link style */
li 
{
    margin: 0px 50px 0px 30px;
    font-size: 16px;
}

.top-links{
    margin-top: 10px;
}

.nav-link {
    color: white;
    font-family: fantasy;
}

.nav-link:hover {
    color: rgb(240, 240, 240);
}

.nav-link:active {
    color: rgb(226, 206, 206);
}


.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.logo {
    padding-left: 20px;
}

.searchBox {
    background-image: linear-gradient( #a93b68 0%, #ff8471 100%)
}